<?php

define('DB_NAME', '<%= database %>');
define('DB_USER', '<%= username %>');
define('DB_PASSWORD', '<%= password %>');
define('DB_HOST', '<%= hostname %>');
define('DB_PREFIX', '<%= prefix %>');
