module.exports = {
	// all deployment stuff (for gulp config and gulp deploy)
	deploy: {
		// deployment parameters for gulp deploy.

		// default: put the key of the default deployment.
		default: 'toto',
		toto: {
			htaccess: {
				// the url should end with a slash (/):
				rewriteBase: '/xxxx/xxxx/',
			},
			mysql: {
				database: 'xxxx',
				username: 'xxxx',
				password: 'xxxx',
				hostname: 'xxxx',
				prefix: 'xxxx_',
			},
			ftp: {
				host: 'ftp.xxxx.xxx',
				user: 'xxxx',
				pass: 'xxxx',
				// the remotePath should not end with a slash (/), ie:
				// www/hello/world
				remotePath: 'www/xxxx/xxxx',
			},
			// the url should not end with a slash (/), ie:
			// http://toto.org/hello/world
			url: 'http://xxxx.xxx/xxxx/xxxx'
		},
	},
};
